@import "normalize";

.calendar {
	font-family: Arial, sans-serif;

	header {
		text-align: center;

		h1 {
			color: #888;
			display: inline-block;
			margin: 24px 48px;	
		}

		button {
		    background: none;
		    padding: 12px 48px;
		    color: #888;
		    border: 1px solid #888;
		    user-select: none;
		}
	}
	
	.calendar-body {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;

		.weekday-names,
		.days {
			color: #888;
			list-style-type: none;
			padding: 0;
			display: grid;
			// create a 7 column grid for calendar
			grid-template-columns: repeat(7, 1fr);
		}

		.weekday-names {
			justify-items: center;
		}

		.day {
			border: 1px solid #bbb;
		    font-family: Arial, sans-serif;
			padding: 12px;
			min-height: 60px;
		}
	}
}