@import "normalize";

$grey: #888;
$light-grey: #bbb;
$dark-grey: #333;
$light-blue: #a0c3ff;
$font-family: Arial, sans-serif;
$break-point-tablet: 760px;

@mixin center() {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.calendar {
	min-width: 760px;
	font-family: $font-family;

	@media screen and (min-width: $break-point-tablet) {
		@include center();
		width: 80%;
	}

	header {
		text-align: center;

		h1 {
			color: $grey;
			display: inline-block;
			margin: 24px 48px;	
		}

		button {
		    background: none;
		    padding: 12px 48px;
		    color: $grey;
		    border: 1px solid $grey;
		    user-select: none;
		}
	}
	
	.calendar-body {
		.weekday-names,
		.days {
			color: $grey;
			list-style-type: none;
			padding: 0;
			display: grid;
			// create a 7 column grid for calendar
			grid-template-columns: repeat(7, 1fr);
		}

		.weekday-names {
			justify-items: center;
		}

		.day {
			border: 1px solid $light-grey;
			padding: 12px;
			min-height: 60px;

			&.today {
				background-color: $light-blue;
			    border: 1px solid $dark-grey;
			    color: $dark-grey;
			    font-family: $font-family;
			    font-weight: 700;
			}
		}
	}
}